<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col">
        
      {%- if page.backlinks and page.backlinks.size > 0 -%}
        <strong>Mentioned on page:</strong>
        <ul>
            {%- for backlink in page.backlinks -%}
                <li><a href="{% link {{backlink.link}} %}">{{ backlink.title }}</a></li>
            {%- endfor -%}
        </ul>
        {% else %}
        <em>This page is not mentioned anywhere.</em>
      {%- endif -%}

      {%- if site.author %}
        <ul class="contact-list">
          {% if site.author.name -%}
            <li class="p-name">{{ site.author.name | escape }}</li>
          {% endif -%}
          {% if site.author.email -%}
            <li><a class="u-email" href="mailto:{{ site.author.email }}">{{ site.author.email }}</a></li>
          {%- endif %}
        </ul>
      {%- endif %}
      
      </div>
      <div class="footer-col">
        <p>{{ site.description | escape }}</p>
        <p class="feed-subscribe">
          <a href="{{ site.feed.path | default: 'feed.xml' | absolute_url }}">
           <span>Subscribe to the rss feed</span>
          </a>
        </p> 
      </div>
    </div>

  </div>

</footer>
