<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {%- include footer.html -%}

    {%- if page.backlinks and page.backlinks.size > 0 -%}
    <ul>
        {%- for backlink in page.backlinks -%}
            <li><a href="{% link {{backlink.link}} %}">{{ backlink.title }}</a></li>
        {%- endfor -%}
    </ul>
    {%- endif -%}
  </body>

</html>
